.cell {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-color: #7c8ef3;
    color : white;
    vertical-align: middle;
    font-weight: bold;
}

table {
    background-color: #a9b4f3;
}